p {
    font-family: Lato;
}

#content {
    overflow: visible;
    text-align: center;
    font-size: 1.5rem;
}

#container {
    width: 100%;
}

#square {
    position: absolute;
}

.rectangle {
    position: absolute;
}

#circle {
    position: fixed;
    z-index: -1;
    bottom: 0px;
    right: 0px;
    width: 100px;
    height: 100px;
    background-color: yellow;
    border-radius: 50px;
}