<section class="flex items-center text-gray-600">
    <div class="p-5">

        <div class="flex flex-wrap">

            <div data-anima="left" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/hellblade-2-img-2.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">Hell Blade</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>


            <div data-anima="right" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/aplague-img-1.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">A Plague tale</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>

            <div data-anima="left" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/redded-img-3.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">Red Dead Redemption 2</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>

            <div data-anima="right" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/hellblade-2-img-2.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">Hell Blade</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>

            <div data-anima="left" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/aplague-img-1.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">A plague tale</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>

            <div data-anima="right" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/redded-img-3.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">Red Dead Redemption 2</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>

            <div data-anima="right" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/hellblade-2-img-2.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">Hell Blade</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>

            <div data-anima="left" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/aplague-img-1.png" alt="blog">
                    <div class="p-6 transition duration-300 ease-in">
                        <h1 class="text-2xl font-semibold mb-3">A plague tale</h1>
                        <p class="leading-relaxed mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam modi, expedita quos doloremque autem ipsum itaque incidunt ipsam reprehenderit fuga! Dolores quisquam eius cum accusamus?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>