<section class="">
    <div class="bg-gradient-to-r from-blue-500 to-orange-500">

        <div class="p-12 md:w-1/2">
            <div class="flex justify-center">
                <h1 class="text-7xl w-full">
                    Vibrant and innovative design for digital experiences
                </h1>
            </div>
        </div>

        <div class="flex flex-wrap">


            <div class="p-4 md:w-1/2 mb-24">
                <div class="overflow-hidden flex justify-end lg:relative" appParallax [ratio]="-0.03">
                    <img class="w-3/4 object-cover object-center md:h-48 lg:h-96" src="../../../../assets/imgs/hellblade-2-img-2.png" (mouseenter)="Hover()" (mouseleave)="exitHover()" alt="blog">
                    <div class="title-1 hidden absolute p-4" [ngClass]="{'ativado' : opened}">
                        <h1 class="text-4xl text-white">hell Blade</h1>
                    </div>
                </div>
            </div>

            <div class="p-4 md:w-1/2 mb-24">
                <div class="overflow-hidden flex justify-end lg:relative" appParallax [ratio]="-0.03">
                    <img class="w-3/4 object-cover object-center md:h-48 lg:h-96" src="../../../../assets/imgs/hellblade-2-img-2.png" (mouseenter)="Hover()" (mouseleave)="exitHover()" alt="blog">
                    <div class="title-2 hidden absolute p-4" [ngClass]="{'ativado' : opened}">
                        <h1 class="text-4xl text-white">hell Blade</h1>
                    </div>
                </div>
            </div>

            <div data-anima="left" class="p-4 md:w-1/2">
                <div class="overflow-hidden flex justify-end lg:relative" appParallax [ratio]="-0.03">
                    <img class="w-3/4 object-cover object-center md:h-48 lg:h-96" src="../../../../assets/imgs/hellblade-2-img-2.png" alt="blog">
                </div>
            </div>

            <div data-anima="right" class="p-4 md:w-1/2 md:-mt-40">
                <div class="overflow-hidden flex justify-center lg:relative" appParallax [ratio]="-0.03">
                    <img class="w-3/4 object-cover object-center md:h-48 lg:h-96" src="../../../../assets/imgs/redded-img-3.png" alt="blog">

                </div>
            </div>

            <div data-anima="right" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/redded-img-3.png" alt="blog">

                </div>
            </div>

            <div data-anima="right" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/hellblade-2-img-2.png" alt="blog">

                </div>
            </div>

            <div data-anima="left" class="p-4 md:w-1/2">
                <div class="border-2 border-red-600 border-opacity-60 rounded-lg overflow-hidden">
                    <img class="w-full object-cover object-center md:h-48 lg:h-72" src="../../../../assets/imgs/aplague-img-1.png" alt="blog">

                </div>
            </div>

        </div>
    </div>
</section>